body{
    color: white;
    background-color:#171616;
}

nav{
    display:block;
    width:auto;
}

nav ul{
    display:inline-block;
    width:auto;
}

nav ul li{
    display:inline-block;
    width:250px;
    text-align:center;
    height:80px;
    margin:4px 2px 0px 0px;
    border:3px white solid;
}

.lindved{
    display:block;
    margin:auto;
}

nav a{
    display:block;
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    font-family:sans-serif;
    font-size:150%;
    padding:2px;
    padding-top:4%;
    font-family: 'Old Standard TT';
}

nav ul li:hover{
    color:black;
    background-color:bisque;
    transition:1s;
}

button:hover{
    color:black;
    background-color:bisque;
    transition:1s;
}
nav a:hover{
    color:black;
}

header img{
    display: block;
    margin:auto;
}

h1{
    font-family: 'Old Standard TT';
    font-size:400%;
    text-decoration: none;
    text-align:center;
}

h2{
    font-family: 'Old Standard TT';
    font-size:200%;
    text-align:center;
}

h3{
    color:darkorange;
    font-family: 'Old Standard TT';
    font-size:300%;
    margin-left:5%;
}
h4, h5, h6, p{
    font-size:140%;
    margin-left:5%;
}

.tyrone{
    width:424px;
    height: 565px;
    display: block;
    background-image:url(../kea/animation/Main%20Character%20Sprite%20Sheet.png);
    animation:skate 1s steps(6) infinite;
    position:relative;
    }

@keyframes skate{
    to{
        background-position: -2542px;
    }
}

.dodge{
    width: 560px;
    height: 794px;
    display: block;
    background-image: url(../kea/animation2/dodge.png);
    animation: attack_derecha 1s steps(7) infinite;
    position: relative;
    top:-300px;
}
@keyframes attack_derecha{
   to{
        background-position: -3925px;
        }
}
.assign{
    display:block;
    margin-left:20px;
    font-family: 'Old Standard TT';
    font-size:150%;
}

.assign a{
    text-decoration:none;
    color:darkorange;
}

.portfoliomenu{
    display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .box1{
        grid-column: 1/2;
    }
    .box2{
        grid-column: 2/-1;
        grid-row:;
    height:800px;
    width:auto;
}

.Web{
    background:url(../images/raw/web.PNG);
    background-repeat: no-repeat;
    background-size:auto;
    height:400px;
    border:2px solid white;
}
.Animation{
    background:url(../images/raw/animation.PNG);
    background-repeat: no-repeat;
    background-size:auto;
    height:400px;
    border:2px solid white;
}
.UX{
    background-image:url(../images/raw/UX.PNG);
    background-repeat: no-repeat;
    background-size:auto;
    height:400px;
    border:2px solid white;
}
.Video{
    background-image:url(../images/raw/video.PNG);
    background-repeat: no-repeat;
    background-size:auto;
    height:400px;
    border:2px solid white;
}

#button{
    display:block;
    margin:auto;
    margin-top:175px;
    background-color:#171616;
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    font-family:sans-serif;
    font-size:150%;
    padding:.5em;
    font-family: 'Old Standard TT';
    border:3px white solid;
}

#button a{
    text-decoration:none;
    color:white;
}

#lindved2{
    display:block;
    width:130%;
}
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #171818;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom:20px;
  width: 100%;
  text-align: center;
}
.mySlides {
  display:none;
}
.active-slide {
  display:block;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.text{
    color:black;
    font-family: 'Old Standard TT';
    font-size:100%;

}

/*TABLET*/
@media only screen and (min-width: 50em){
    nav{
    width:940px;
    margin:0 auto;
    }
    nav ul{
    display:grid;
    grid-template-columns:460px 460px;
    padding:10px;
    }
    nav ul li{
    display:inline-block;
    width: 450px;    width: 450px;

    text-align:center;
    height:80px;
    margin:4px 2px 0px 0px;
    border:3px white solid;
    }

    .lindved{
    display:block;
    margin:auto;
    width:100%;
    }

    .content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .box3{
        grid-column: 1/2;
    }
    .box4{
        grid-column: 2/-1;
        margin-left:70px;
        margin-top:70px;
    }
        .box5{
        grid-column: 1/2;
    }
    .box6{
        grid-column: 2/-1;
          margin-left:70px;
        margin-top:70px;
    }

    .box9{
    grid-column:1/2;
    }
    .box10{
    grid-column:2/-1;
    margin-top: 100px;
    margin-left:70px;
    }
    #lindved2{
    display:block;
    margin:auto;
    width:100%;
    }

    .slideshow-container div img{
        display:block;
        width:60%;
    }

}

/*DESKTOP*/
@media only screen and (min-width: 80em) {

    main img{
    background-image: url(../images/raw/Lindved.png);
    grid:
    }

    .Web{
    background:url(../images/raw/web.PNG);
    background-repeat: no-repeat;
    background-size:110%;
    height:400px;
    border:2px solid white;
    }
    .Animation{
    background:url(../images/raw/animation.PNG);
    background-repeat: no-repeat;
    background-size:140%;
    height:400px;
    border:2px solid white;
    }
    .UX{
    background-image:url(../images/raw/UX.PNG);
    background-repeat: no-repeat;
    background-size:180%;
    height:400px;
    border:2px solid white;
    }
    .Video{
    background-image:url(../images/raw/video.PNG);
    background-repeat: no-repeat;
    background-size:110%;
    height:400px;
    border:2px solid white;
    }

    .lindved{
    display:block;
    margin:auto;
    width:1250px;
    }

    .box9{
    grid-column:1/2;
    }
    .box10{
    grid-column:2/-1;
    margin-top: 100px;
    margin-left:70px;
    }
    #lindved2{
    display:block;
    width:550px;
    }
}
