@import url('https://fonts.googleapis.com/css?family=Chelsea+Market|Shojumaru');
body {
    width: 1204px;
    height: 768px;
}

main {
    width: 1024px;
    height: 768px;
    background-color: gainsboro;
    position: relative;
    background-image: url(a.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-blend-mode: soft-light;
    animation-name: fade_in_all;
    animation-duration: 1.9s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes fade_in_all {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

.div_contenedor {
    opacity: 0;
    animation-name: fade_in2;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade_in2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

.boton_next {
    font-family: 'Chelsea Market', cursive;
    width: 180px;
    height: 50px;
    border-radius: 102px;
    position: absolute;
    font-size: 1.5em;
    background-color: red;
    top: 390px;
    left: 580px;
}

div h1 {
    margin: 0;
    font-family: 'Chelsea Market', cursive;
    font-size: 3em;
    position: absolute;
    top: 190px;
    left: 580px;
}

.blood1 {
    left: 20px;
    top: 300px;
    width: 550px;
    opacity: 0;
    position: absolute;
    animation-name: blood_fade_in_1;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes blood_fade_in_1 {
    100% {
        opacity: 1;


    }
}

.heroe {
    opacity: 0;
    width: 600px;
    left: 50px;
    top: 361px;
    position: absolute;
    animation-name: fade_in;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
